body
{
    /* background-color: white; */
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}


/* HEADER */


.containerHeader
{
    display: flex;
    justify-content: space-between;
    margin: 0em 2em;
}

.menuNav
{
    display: flex;
    width: 30%;
}

header a
{
    text-decoration: none;
}

.navLink 
{
    padding: 1.5em;
    color: inherit;
}

.navLink:hover
{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.navSignup
{
    color: #0065FC;
    font-weight: bold; 
    padding: 1.5em;
}


/* SEARCH */

.search{
    margin-left: 2rem;
}

.searchBarTittle form{
    margin-top: 30px;
}

.searchFormIcon{
    padding: 20px;
    background-color: #F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.searchBarTittle button{
    background-color: #0065FC;
    border: none;
    color: white;
    font-size: 1em;
    padding: 20px 16px 20px 16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    cursor: pointer;
}

.searchFormInput{
    font-size: 1em;
    font-weight: bold;
    color: black;
    border: none;
    padding: 19px 1em;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    outline: none;
}


/* SEARCH FILTERS */

.searchFiltersTitle{
    font-weight: bold;
    margin-right: 1em;
}
.searchFilters{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.searchFilter:hover{
    background: #deebff;
}

.searchFilter
{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 60px;
    border-left: none;
    margin-right: 30px;
    height: 2.5em;
    cursor: pointer;
}

.searchFilter i
{
    color: #0065FC;
    background: #DEEBFF;
    border: 13px solid #DEEBFF;
    border-radius: 100%;
}


.searchFilterTitle
{
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

.info
{
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}

.fa-info
{
    color: #0065FC;
    font-size: 0.6em;
    border: 1px solid lightgrey;
    padding: 6px 8px;
    border-radius: 20px;
    margin-right: 1em;
}


/* HOTEL */


.bigContainer{
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-between; */
    margin-top: 2em;
}

.flexContainer{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin-right: 2em;
    margin-left: 2em;
    padding: 2em;
    border-radius: 25px;
}

.flexContainer h2{
    margin-left: 1em;
}

.accommodationBlock
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hotel img
{
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   object-fit: cover;
   width: 100%;
   height: 8em;
}

.hotel a
{
    text-decoration: none;
    color: black;
}

.fa-star
{
    color: #0065FC;
    font-size: small;
}
     
.hotel figure
{
    background: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    margin: 0;
    width: 15em;
    margin-bottom: 2em;
}

.hotel figcaption
{
    margin-left: 5px;
}



/* MOST POPULAR */

.asideTitle
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    box-sizing: border-box;
}

.popularHosting
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 25px;
}

.hotelAside img
{
   border-top-left-radius: 25px;
   border-bottom-left-radius: 25px;
   width: 8em;
   height: 8em;
   object-fit: cover;
}

.hotelAside a
{
    text-decoration: none;
    color: black;
}

.hotelAside figure
{
    display: flex;
    background: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    /* width: 20em; */
}

.hotelAside figcaption
{
    width: 12em;
    height: 100%;
    margin-left: 5px;
}



/* ACTIVITIES */


.activity
{
    margin: 4em 2em;
}

.photoTitle
{
    margin: 20px;
}

.activityContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activityContainer a{
    text-decoration: none;
    color: black;
}

.port
{
    box-sizing: border-box;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 25px;
    overflow: hidden;
}


.pomegues{
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    object-fit: cover;
    overflow: hidden;
    padding-bottom: 10px;
}

.frioul{
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    object-fit: cover;
    overflow: hidden;
}

.calanques{
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 25px;
    overflow: hidden;
    object-fit: cover;

}


.garde{
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    object-fit: cover;
    overflow: hidden;
}

.longchamp{
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    object-fit: cover;
    overflow: hidden;
}

.smallPhoto
{
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.photo{
    height: 450px;
    width: 300px;
    object-fit: cover;
}



/* FOOTER */


footer 
{
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}

.footerTitle
{
    font-weight: bold;
    font-size: 1em;
    padding: 2em 0 1.5em 0;
    margin: 0;
}

.footerElements
{    
    list-style: none;
    padding: 0 15em 1em 0;
    
}

ul{
    margin: 0;
    padding: 0;
}

