body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}


/* HEADER */


.containerHeader{
    display: flex;    
    align-items: center;
    margin: 2em;
}

.navMenu{
    display: flex;    
    margin-left:auto;
}

.navLink, .navSignup{
    list-style: none;
}

.navLink a{
    text-decoration: none;
    color: inherit;
    padding: 43px 40px;
}

.navLink a:hover{
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

.navSignup a{
    color: #0065fc;
    font-weight: bold;
    text-decoration: none;
    padding-left: 40px;
}



/* SEARCH */


.search{
    margin-left: 2rem;
}

.searchBarTitle form{
    margin-top: 30px;
}

.searchFormIcon{
    padding: 20px;
    background-color: #F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.searchBarTitle button{
    background-color: #0065FC;
    border: none;
    color: white;
    font-size: 1em;
    padding: 20px 16px 20px 16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    cursor: pointer;
}

.searchFormInput{
    font-size: 1em;
    font-weight: bold;
    color: black;
    border: none;
    padding: 19px 1em;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    outline: none;
}

.searchIcon{
    display: none;
}



/* SEARCH FILTERS */


.searchFiltersTitle{
    font-weight: bold;
    margin-right: 1em;
}
.searchFilters{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.searchFilter:hover{
    background: #deebff;
}

.searchFilter{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 60px;
    border-left: none;
    margin-right: 30px;
    height: 2.5em;
    cursor: pointer;
}

.searchFilter i{
    color: #0065FC;
    border: 13px solid #DEEBFF;
    border-radius: 100%;
}


.searchFilterTitle{
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

.info{
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}

.fa-info{
    color: #0065FC;
    font-size: 0.6em;
    border: 1px solid lightgrey;
    padding: 6px 8px;
    border-radius: 20px;
    margin-right: 1em;
}

.buttonBis{
    display: none;
}



/* HOTEL */


.bigContainer{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2em;
}

.flexContainer{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin-right: 2em;
    margin-left: 2em;
    padding: 2em;
    border-radius: 25px;
    box-sizing: border-box;
}

.accommodationBlock{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hotel img{
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   object-fit: cover;
   width: 100%;
   height: 8em;
}

.hotel a{
    text-decoration: none;
    color: black;
}

.fa-star{
    color: #0065FC;
    font-size: small;
}

.grey{
        color: #F2F2F2;
}
     
.hotel figure{
    background: #ffffff;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    margin: 0;
    width: 18em;
    margin-bottom: 2em;
}

.hotel figcaption{
    margin-left: 15px;
    margin-bottom: 5px;
    line-height: 0.8;
}

h3{
    margin: 0;
    padding-top: 0.5em;
}


/* MOST POPULAR */


.asideTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 40px;
}

.popularHosting{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 25px;
    padding: 2em 0;
}

.hotelAside img{
   border-top-left-radius: 25px;
   border-bottom-left-radius: 25px;
   width: 10em;
   height: 10em;
   object-fit: cover;
}

.hotelAside a{
    text-decoration: none;
    color: black;
}

.hotelAside figure{
    display: flex;
    background: #ffffff;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
}

.hotelAside figcaption{
    width: 12em;
    padding-left: 30px;
}

.hotelAside .fa-star{
    padding-top: 2.5em;
}



/* ACTIVITIES */


.activity{
    margin: 4em 2em;
}

.photoTitle{
    padding: 20px;
    margin: 0;
}

.activityContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activityContainer a{
    text-decoration: none;
    color: black;
}


.activityColumn1{
    box-sizing: border-box;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 25px;
    overflow: hidden;
}

.photo{
    object-fit: cover;
    width: 350px;
    height: 400px;
}

.pomegues{
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    object-fit: cover;
    overflow: hidden;
}

.pomegues img{
    height: 200px;
    width: 330px;
    object-fit: cover;
}

.frioul{
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    overflow: hidden;
}

.frioul img{
    height: 100px;
    width: 330px;
    object-fit: cover;
}

.activityColumn2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.activityColumn3{
    box-sizing: border-box;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 25px;
    overflow: hidden;
}

.garde{
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    object-fit: cover;
    overflow: hidden;
}

.garde img{
    height: 150px;
    width: 330px;
    object-fit: cover;
}

.longchamp{
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    overflow: hidden;
}

.longchamp img{
    height: 150px;
    width: 330px;
    object-fit: cover;
}

.activityColumn4{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}



/* FOOTER */


footer{
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}

.footerTitle{
    font-weight: bold;
    font-size: 1em;
    padding: 2em 0 1.5em 0;
    margin: 0;
}

.footerElements{    
    list-style: none;
    padding: 0 15em 1em 0;
}

ul{
    margin: 0;
    padding: 0;
}



/* MEDIA QUERIES */


@media screen and (min-width: 1600px) {
    body{
        max-width: 100em;
        margin: auto;
    }
}

@media all and (max-width: 1465px) {
    .searchFilters{
        display: flex;
        flex-wrap: wrap;
    }
    .searchFilter{
        margin-bottom: 30px;
    }
    .searchFiltersTitle{
        margin-top: 0;
        margin-bottom: 30px;
    }
    

    .bigContainer{
        display: flex;
        flex-direction: column;
    }

    .flexContainer{
        margin-bottom: 30px;
        background-color: white;
        display: flex;
        padding: 0;
        order: 1;
    }

    .hotel:nth-child(3){
        break-after: always;
    }

    .accommodationBlock{
        width: 100%;
    }

    .popularHosting{
        display: flex;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }

    .activityContainer{
        display: block;
        padding: 0px;
    }

    .activityColumn1, .pomegues, .frioul, .activityColumn3, .garde{
        margin-bottom: 30px;
    }

    .activity img{
        width: 100%;
        height: 300px;
    }

}

@media screen and (max-width: 965px){
    .flexContainer{
        margin-bottom: 30px;
        background-color: white;
        display: flex;
        padding: 0;
        order: 1;
    }

    .hotel:nth-child(1){
        break-after: always;
    }
}

@media screen and (max-width: 780px) {
    .containerHeader{
        flex-wrap:wrap;
        }

    .navMenu{
        margin-top: 25px;
        width: 100%;
        order:3;
       }

    .navMenu a{
        display: flex;
        justify-content: center;
       }

    .navMenu li {
        padding: 0;
        border-bottom: 2px solid #F2F2F2;
        width: 50%;
       }
       
    .navSignupMenu{
         margin-left:auto; 
         order:2;
       }

    .navLink:hover{
        border-bottom: 2px solid #0065FC;

       }
    .navLink a:hover{
        border-top: none;
       }
       


    .searchButton{
        display: none;
    }

    .buttonBis{
        display: contents;
    }

    .fa-search{
        background-color: #0065FC;
        border: none;
        color: white;
        font-size: 1em;
        padding: 20px 16px 20px 16px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        outline: none;
        cursor: pointer;
    }



    .searchFiltersTitle{
        break-after: always;
    }



    .hotel{
        margin: auto;
    }

    .flexContainer{
        margin-bottom: 0;
    }

    .flexContainer h4{
        margin-bottom: 0;
    }
    
    .activityContainer{
        display: block;
        padding: 0px;
    }

    .activityColumn1, .pomegues, .frioul, .activityColumn3, .garde{
        margin-bottom: 30px;
    }

    .activity img{
        width: 100%;
        height: 300px;
    }

    #activityTitle{
        margin-top: 0;
    }

    footer{
        display:flex;
        flex-direction: column;
    }
}